* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#root {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.header-container {
    color: white;
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    font-size: 1.05rem;
}